@import "tailwindcss";

:root {
  --primary:#1D00A5;
  --secondary: #10B981;
  --tertiary: #F59E0B;
  --neutral:#F9FAFB;
}

@theme inline {
  --color-neutral: var(--neutral);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --font-inter: var(--font-inter);
}

body {
  /* background: var(--neutral); */
  color: var(--foreground);
  font-family: var(--font-inter);
}
